<form method="post" action="/">
  <div class="form-group">
    <label>
      Keyword
    </label>
    <input type="text" class="form-control" name="keyword" placeholder="something something">
    <div class="form-group">
      <label>
        Site
      </label>
      <input type="text" class="form-control" name="site" placeholder="http://codeforhuman.com">
    </div>
  </div>
  <div class="form-group">
    <label>
      Language
    </label>
    <select class="form-control" name="lang">
      <option value="en">
        English
      </option>
      <option value="de">
        Deutsch
      </option>
      <option value="tr">
        Turkish
      </option>
    </select>
  </div>
  <p>
  </p>
  <div class="form-group">
    <label>
      Page Range&nbsp;
      <br>
    </label>
    <select class="form-control" name="range">
      <option value="10">
        10
      </option>
      <option value="25">
        25
      </option>
      <option value="50">
        50
      </option>
    </select>
  </div>
  <button type="submit" class="btn btn-lg btn-success">
    Give it a try!
  </button>
</form>
